[Unit]
Description=A daemon to lock console terminal and virtual consoles.
Documentation=man:consolelocker(8)

[Service]
EnvironmentFile=-/etc/sysconfig/consolelocker
ExecStart=/usr/sbin/consolelocker -f -g $GROUP
Restart=on-failure

[Install]
WantedBy=multi-user.target
